*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f0f0f0;
    padding:30px;
}

.contenedor{
    max-width:1200px;
    margin:auto;
    background:white;
    padding:30px;
    border:2px solid #ccc;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

.cliente{
    margin-bottom:30px;
}

.fecha{
    margin-bottom:20px;
    font-size:18px;
    font-weight:bold;
}

.cliente label{
    font-size:20px;
    margin-right:10px;
}

.cliente input{
    width:350px;
    padding:10px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    padding:15px;
    font-size:20px;
}

td{
    padding:10px;
}

input, select{
    width:100%;
    padding:10px;
}

.resumen{
    margin-top:40px;
    display:flex;
    justify-content:space-between;
}

.cuotas p,
.totales p{
    margin:15px 0;
    font-size:20px;
}

.botones{
    margin-top:40px;
    display:flex;
    gap:20px;
}

button{
    padding:12px 25px;
    cursor:pointer;
    font-size:18px;
}
